
# HTID:18511558: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:18511558:
RedirectMatch 301 ^/$ /pages/landing/landing_page.html
